body{font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 30px;
}
footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 50px;
}
main{
    max-width: 800px;
padding-left: 50px;
margin: 0 auto;
}
header{
background-color: whitesmoke;
    text-align: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
<<<<<<< HEAD

=======
>>>>>>> 6c32ef6c93324c8c41c6bc14a618539cd0aaefae
header img{
    width: 600px;
    transform: rotate(7deg);
    padding-right: 50px;

}

p{
font-size: 20px;
}

h1, h2{
    font-size: 30px;   
    font-family: 'gabriel_weiss_friends_fontRg','Permanent Marker', cursive;
}
a{
    color: #5DADE2;
}
a:hover{
    background-color:#0067AB;
    color:white;
}

li{
    list-style-type: none;
}
.friend{
    width: 40px;
    border-radius: 10px
}

